*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
}


.main{
    width: 100%;
    height: 800px;
    border: 1px solid black;   /*lo quiero visuarlizar el borde */
    padding: 20px 35px;


    }





/* ubicar el encabezado al lado izquierdo */
.header{
    display: flex;
    justify-content: space-between;
    padding: 15 px;
    background-color: #121f3d;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    color: #e6e2bf;
} 

.header-nav{
    margin-top: 10px;
    
    padding-left: 0px;  /*dimension interna que se le da */
    font-weight: bold;
    /*da color solo a lo que estte en el nav de main */
    /*background: linear-gradient(to right, rgb(75, 108, 183), rgb(24, 40, 72)); */
  }


  
/*Logo    lo hacemos ver pequeño */
.header-img{
    width: 30px;
    height: 30px;
}

.header-list{
    display: flex;   /*que se vea horizontal */
    list-style: none ; /*none quita los puntos a la list */
    justify-content: space-between;
    width: 800px;

}


.header-list__item a {
    color: rgb(176, 207, 212);
    padding: 5px;
    text-decoration: none;  /*quita el subrayado del link */
   
   /* border-radius:  2px; da la apariencia de botoncitos si le damos un backgroud */
}

/*cuando pase el mouse se subraya*/
.header a:hover{
    text-decoration: underline;
}



.header-h1{
    font-size: 15px;
    padding-left: 2em;
}